<div class="container">
    <div class="row">

        <div class="col-md-12 d-flex ">

            <img src="" height="50">

            <div class="">

                <h3>My name</h3>

                <span>Number of post: 0</span>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Bio</h3>
            <p>We dsds ms dsmd smd smd ms dms dms dms dms dms dms dms dms dms dms dms d</p>

            <div>
                <span>Comments: X,</span></span>Like y</span>
            </div>
        </div>
    </div>
</div>