<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div>
                <h3>Post #1 by username</h3>
                 <div>
                    <span>Comments: X,</span></span>Like y</span>
                </div>
            </div>
            
            <p>We dsds ms dsmd smd smd ms dms dms dms dms dms dms dms dms dms dms dms d</p>

           
        </div>
    </div>
</div>